<?xml version="1.0" encoding="utf-8"?>
<Package
      xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
      xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
      xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
      IgnorableNamespaces="uap mp">
  <Identity Name="0b0648f8-df07-4209-b3b8-a16ec10a5f16" Publisher="CN=lina" Version="1.0.0.0" />

      <mp:PhoneIdentity PhoneProductId="0b0648f8-df07-4209-b3b8-a16ec10a5f16" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>
  <Properties>
    <DisplayName>HealthApp.Windows</DisplayName>
    <PublisherDisplayName>Karmelina Michael</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
        <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
      </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="HealthApp.Windows.App">
      <uap:VisualElements DisplayName="HealthApp" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\logo small.png" Description="HealthApp helps you to maintain your health healthy all the time.It provides health information, beauty information, BMI calculator which tells you about your weight, healthy recipes , health exercises, and calorie-calculator."  BackgroundColor="#ffffff" ToastCapable="false">
        <uap:DefaultTile Square70x70Logo="Assets\logo1.png" Square310x310Logo="Assets\logo3.png" Wide310x150Logo="Assets\logo2.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\splash screen.png" BackgroundColor="#51c4da" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="landscape" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>
